body{
    background-color: grey;
    color: white;
}
button{
    color: black;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    display:block
}
#pageContent{
    background-color: rgb(0, 0, 0);
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}
#pageContent2{
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: none;

}
.header{
    color: white;
    background-color: black;
    text-align: center;

}
.header2{
    color: black;
    background-color: white;
    text-align: center;
}
img{
    width: 50%;
    height: 50%;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttons2 {
    color: black;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    display:block
    }